.service{
    background-color: rgb(1, 7, 33);
    border-radius: 10px;
}
.service img{
    width: 100%;
}
.price{

    font-weight: bold;
    color: gainsboro;
}
.title2{
    color: rgb(240, 233, 233);
    font-size: 18px;
}
.imageUrl{
    height: 250px;
    border-radius: 0px;
}
.des{
    color: grey;
}